/* Resume */

.resume-left-col {
  background: #27221f;
  color: white;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.resume-right-col {
  background: #000222;
  color: white;

}

.contact {
  margin: auto;
  background: white;
  border: 2px solid red;
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  color: black;
}

.about-cell{
  text-align: left;
  padding-top: 2em;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12pt;
}

.contact-picture {
  border-radius: 50%;
  position: relative;
  text-align:center;
  overflow: hidden;
}

.contact-grid h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

.contact-grid p {
  font-family: 'Open Sans', sans-serif;
}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.aboutline{
  margin-left: 10%;
  margin-right: 10%;
  border-top: 2px solid black;
}


.resumesocial{
  color: black;
  text-decoration: none;   
  display: inline-block;
}

.social{
  color: black;
  text-decoration: none;   
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.social:hover{
  opacity: 0.5;
}

.social:active{
  transform: scale(1.2);
  transition: transform 0s;
}

.resumespan{
  padding-left: 5px;
}

#skillsbutton{
  width: 160px;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(100, 200, 300);
  margin-bottom: 10px;
  color: white;
}

#achievementsbutton{
  margin-top: 10px;
  width: 160px;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(100, 100, 100);
  color: white;
}

#languagesbutton{
  margin-top: 20px;
  width: 160px;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(200, 100, 100);
  color: white;
}

.languagediv{
  margin-top: 5px;
  margin-bottom: 5px;
}

.ProjectsCard{
  margin-bottom: 80px;
}


.section {
  position: relative;
  height: 176px;
}

.section img {
    height: 176px;
    position: absolute;
    object-fit: fill;
}

.top {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}